<main>
  <h1>За нас...</h1>
  <br />
  <div class="about">
    <p>
      <i>"Мода Лукс"</i> - вашият източник за елегантна и стилна мода. Ние вярваме, че облеклото не просто покрива
      тялото Ви, а изразява вашата уникалност и стил.

      В "Мода Лукс" съчетаваме вдъхновяващи дизайни с висококачествени материали, за да предложим на нашите клиенти
      най-доброто от света на модата. Нашата цел е да ви предоставим една уникална пазарна среда, където можете да
      откриете нещо, което подчертава вашия стил и индивидуалност.
      <br />
      "Мода Лукс" не е просто магазин, а преживяване. С нас можете да се потопите в света на последните модни тенденции
      и да откриете своя стилов път. Нашите колекции се обновяват редовно, за да ви предложим най-актуалните и стилни
      предложения.
    </p>
    <p>
      Може да се свържете с нас на имейл: <strong>modaluks@gmail.com</strong><br />
      Телефонен номер: <strong>0878961089</strong><br />
      <i class="fa-brands fa-instagram"></i><strong> moda_lusk_fashion</strong><br />
      <i class="fa-brands fa-facebook"></i><strong> Мода Лукс - изборът днес</strong>
    </p>
  </div>
  <br />
</main>