<h1>Изборът на дамите <span style='font-size:50px; font-style:normal'>&#128129;</span></h1>
<hr width="75%"/>
<div class="garment-container">
    {{#each femaleGarments}}
    {{> currentGarmentPreview}}
    {{else}}
    <h2>Няма женски дрехи...</h2>
    {{/each}}
    
</div>

<script src="/static/js/app.js"></script>