<h1>Изборът на децата <span style='font-size:50px; font-style:normal'>&#128102; &#128103;</span></h1>
<hr width="75%"/>
<div class="garment-container">
    {{#each kidGarments}}
    {{> currentGarmentPreview}}
    {{else}}
    <h2>Няма детски дрехи...</h2>
    {{/each}}
    
</div>

<script src="/static/js/app.js"></script>