<h1>Изборът на мъжете <span style='font-size:50px; font-style:normal'>&#129489;</span></h1>
<hr width="75%"/>
<div class="garment-container">
    {{#each maleGarments}}
    {{> currentGarmentPreview}}
    {{else}}
    <h2>Няма мъжки дрехи...</h2>
    {{/each}}
    
</div>

<script src="/static/js/app.js"></script>